doctype html
html
  head
    title #{title}
    link(href='/libs.css', rel='stylesheet')
    link(href='/client.css', rel='stylesheet')
    script(src='/libs.js')
    script(src='/client.js')
  body
    page
